html, body, #map {
  height: 100%;
  width: 100%;
}

body {
  color: #333;
  font: 14px -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
  margin: 0 0 40px 10px;
}

.date-button {
  font-size: 12px;
}

.date-button:first-child {
  margin-right: 5px;
}

.date-picker-input,
.form-label {
  margin-bottom: 6px;
}

.form-menu,
.layers-form-menu {
  padding: 8px;
}

.form-menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.form-menu:first-child {
  border-top: 0;
}

.form-menu:last-child {
  border-bottom: 0;
}

.form-menu a {
  color: #333;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

input[type="date"] {
  color: #333;
  font: 14px -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.layers-form-menu:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.layers-form-menu:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.layers-toggle {
  right: 10px;
  top: 120px;
}

.layers-image {
  background-image: url(../img/layers-2x.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  height: 30px;
  width: 30px;
}

.layers-menu {
  display: none;
}

.legend-block {
  line-height: 16px;
  margin-bottom: 8px;
}

.legend-block i {
  float: left;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.legend-gradient {
  background: linear-gradient(90deg, #5c53a5, #a059a0, #ce6693, #eb7f86, #f8a07e, #fac484, #f3e79b);
  border-radius: 6px;
  height: 10px;
  margin: 4px 0 8px;
  width: 100%;
}

.map-overlay {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.mapboxgl-popup-content {
  background: #333;
  color: #efefef;
  font: 14px -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 0;
  text-align: center;
}

.mapboxgl-popup-content p {
  margin: 5px 0 0;
}

.mapboxgl-popup-content .popup-menu p:first-child {
  margin: 0;
}

.mapboxgl-popup-content .popup-menu {
  padding: 10px;
}

.mapboxgl-popup-content hr {
  margin: 0;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #333;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #333;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #333;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #333;
}

.small {
  font-size: 12px;
}

.title h1 {
  font-size: 16px;
  margin: 0 0 6px;
}

.title p {
  margin: 0;
}

.toggle label {
  margin-left: 5px;
  vertical-align: middle;
}

.v-middle {
  vertical-align: middle;
}

/* Unopened lightbox */
.lightbox {
  display: none;
}

.lightbox figure {
  margin: 0;
}

/* Opened lightbox */
.lightbox:target {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lightbox content */
.lightbox figcaption {
  background: #fff;
  max-width: 800px;
  overflow: auto;
  position: relative;
  padding: 15px;
  z-index: 10; /* position above mapbox-ctrl elements */
}

.lightbox figcaption h1 {
  font-size: 16px;
  margin: 0 0 10px;
}

.lightbox figcaption p {
  margin: 0 0 10px;
}

.lightbox figcaption p:last-child {
  margin: 0;
}

.lightbox figcaption a {
  color: #333;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #3b88fd;
}
.lightbox figcaption a:hover,
.lightbox figcaption a:focus {
  color: #3b88fd;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #3b88fd;
}

/* Close button */
.lightbox .close {
  position: relative;
  display: block;
}

.lightbox .close::after {
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3e3e3;
  color: #333;
  content: "×";
  cursor: pointer;
  font-size: large;
  z-index: 11; /* position above mapbox-ctrl elements + .lightbox figcaption */
}

/* Lightbox overlay */
.lightbox .close::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(51, 51, 51, 0.8);
  content: "";
  cursor: default;
  z-index: 9; /* position above mapbox-ctrl elements, below .lightbox figcaption */
}

.usa-control {
  background-image: url(../img/usa.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}
