body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html, body, #map {
  height: 100%;
  width: 100%;
}

.bottom-left {
  bottom: 0;
  left: 0;
  margin: 0 0 40px 10px;
}

.layers-menu label {
  margin-left: 5px;
}

.map-overlay {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  overflow: auto;
  padding: 10px;
  position: absolute;
}

.mapboxgl-popup-content {
  background: #333;
  color: #efefef;
  font: 1.4em -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  max-width: 200px;
  min-width: 140px;
  padding: 10px;
  text-align: center;
}

.mapboxgl-popup-content p {
  margin: 5px 0;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #333;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #333;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #333;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #333;
}
